@font-face{
	font-family: "SharpReg";
	src: url("../fonts/SharpReg/SharpReg.eot");
	src: url("../fonts/SharpReg/SharpReg.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/SharpReg/SharpReg.woff2") format("woff2"),
		 url("../fonts/SharpReg/SharpReg.woff") format("woff"),
		 url("../fonts/SharpReg/SharpReg.ttf") format("truetype"),
		 url("../fonts/SharpReg/SharpReg.svg#sharpreg") format("svg");
	font-weight: normal;
	font-style: normal;
}